<div class="d-flex">
    <div class="sidebar-container bg-dark">
        <div class="menu d-grid gap-2">
            <button type="button" class="btn btn-secondary disabled" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" *ngIf="!afAuth.userData">
                <fa-icon class="user-icon" [icon]="faQuestion" ></fa-icon>
                <!-- <fa-icon class="user-icon" [icon]="faUserGear"></fa-icon> -->
                <!-- <fa-icon class="user-icon" [icon]="faUser"></fa-icon> -->
            </button>

            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" *ngIf="afAuth.userData">
              <img clas="user-icon" [src]="userIcon">
           </button>

            <button type="button" class="btn btn-success mt-5" data-bs-toggle="modal" data-bs-target="#FormprojectPoPUp">
                <fa-icon class="user-icon" [icon]="faFolderPlus"></fa-icon>
            </button>
            <div class="modal fade " id="FormprojectPoPUp" tabindex="-1" aria-labelledby="Title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="Title">Agregar un nuevo proyecto</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <app-project-form></app-project-form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>


            <button type="button" class="btn btn-success mb-5" data-bs-toggle="modal" data-bs-target="#FormRiskPoPUp">
                <fa-icon class="user-icon" [icon]="faHeartCirclePlus"></fa-icon>
            </button>
            <div class="modal fade" id="FormRiskPoPUp" tabindex="-1" aria-labelledby="Title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="Title">Agregar un nuevo riesgo</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <app-risk-form></app-risk-form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary">Guardar riesgo</button>
                    </div>
                  </div>
                </div>
              </div>



            <button class="btn btn-primary mt-5" (click)="loginGoogle()" *ngIf="!afAuth.userData">
                <fa-icon class="user-icon" [icon]="faArrowRightToBracket"></fa-icon>
            </button>
            <button class="btn btn-danger mt-5" (click)="logout()" *ngIf="afAuth.userData">
                <fa-icon class="user-icon" [icon]="faArrowRightFromBracket"></fa-icon>
            </button>
            
        </div>
    </div>
    <div class="w-100">
      <nav class="navbar bg-secondary">
        <div class="container-fluid">
          <h1 class="navbar-light mb-0 h1"><p class="text-light">Gestor de Riesgos <fa-icon [icon]="faBolt"></fa-icon></p></h1>
        </div>
      </nav>
      <div>
        <section class="container mt-4">
          <h1>PROYECTOS</h1>
          <app-project-detail></app-project-detail>
        </section>
      </div>
    </div>
</div>

