<form>
    <div class="mb-3">
        <label for="proyectName" class="form-label">Nombre Proyecto</label>
        <input type="text" class="form-control" id="proyectName" maxlength="50" required>
        <div class="form-text">El nombre debe ser menor a 50 caracteres</div>
    </div>
    <div class="mb-3">
        <label for="startDate" class="form-label">Fecha Inicio</label>
        <input type="date" class="form-control" id="startDate" required>
    </div>
    <div class="mb-3">
        <label for="endDate" class="form-label">Fecha Final</label>
        <input type="date" class="form-control" id="endDate" required>
    </div>
    <div class="mb-3">
        <label for="proyectTags" class="form-label">Etiquetas Proyecto</label>
        <input type="text" class="form-control" id="proyectTags" required autocapitalize="characters">
        <div class="form-text">Deben estar separadas por ;</div>
    </div>
    <div class="mb-3">
        <label for="proyectEmails" class="form-label">Emails Proyecto</label>
        <textarea class="form-control" id="proyectEmails" required autocapitalize="none"></textarea>
        <div class="form-text">Deben estar separados por ;</div>
    </div>
    <div class="mb-3">
        <label for="proyectDocs" class="form-label">Documentos Proyecto</label>
        <input type="file" class="form-control" id="proyectDocs">
        <div class="form-text">Archivos relacionados al proyecto</div>
    </div>
    <div class="mb-3">
        <label for="proyectResume" class="form-label">Descripcion Proyecto</label>
        <textarea class="form-control" id="proyectResume" maxlength="700" required></textarea>
        <div class="form-text">La descripcion debe ser menor a 7000 caracteres</div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar proyecto</button>
</form>