<div class="summary-projects container lg">
  <div>
    <p class="text-start fs-1 mb-1">Proyectos</p>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id Proyecto</th>
          <th scope="col" sortable="name" (sort) = "onSort($event)">Nombre Proyecto</th>
          <th scope="col" sortable="startDate" (sort) = "onSort($event)">Fecha Inicio</th>
          <th scope="col" sortable="endingDate" (sort) = "onSort($event)">Fecha Fin</th>
          <th scope="col" >Emails</th>
          <th scope="col" >Descripción</th>
          <th scope="col" sortable="status" (sort) = "onSort($event)">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects | paginate: { itemsPerPage: 20, currentPage: page }">
          <th scope="row" [routerLink]="['/project', project.id]">
            {{ project.id }}
          </th>
          <th scope="row">{{ project.name }}</th>
          <th scope="row">{{ project.startDate }}</th>
          <th scope="row">{{ project.endingDate }}</th>
          <th scope="row">{{ project.emails }}</th>
          <th scope="row">{{ project.description }}</th>
          <th scope="row">{{ project.status }}</th>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
  </div>
</div>
