<div class="d-grid bg-dark">
  <h1 class="mx-5 text text-light text-center">RIESGOS PROYECTO</h1>
  <button type="button" class="btn btn-dark border border-success border-4" data-bs-toggle="modal" data-bs-target="#FormRiskPoPUp">
    <fa-icon [icon]="faHeartCirclePlus"></fa-icon>
  </button>
 
<app-risk-form [projectId]="risks?.[0]?.projectId"></app-risk-form>

<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Búscar coincidencias proyecto:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
    </div>
  </div>
</form>

<table class="table table-dark table-striped table-hover text-center">
  <thead>
    <tr>
      <!-- <th>Id riesgo</th> -->
      <th scope="col" sortableRisk="name" (sort) = "onRiskSort($event)">Nombre del riesgo</th>
      <th scope="col" sortableRisk="detectedDate" (sort) = "onRiskSort($event)">Fecha de detección</th>
      <th scope="col" sortableRisk="endedDate" (sort) = "onRiskSort($event)">Fecha de cierre</th>
      <th scope="col" sortableRisk="riskState" (sort) = "onRiskSort($event)">Estado del riesgo</th>
      <th scope="col" sortableRisk="audience" (sort) = "onRiskSort($event)">Audiencia</th>
      <th scope="col" sortableRisk="category" (sort) = "onRiskSort($event)">Categoría</th>
      <th scope="col" sortableRisk="riskType" (sort) = "onRiskSort($event)">Tipo de riesgo</th>
      <th scope="col" >Valor de criticidad</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let risk of risks$ | async">
      <!-- <td>{{ risk.id }}</td> -->
      <td>{{ risk.name }}</td>
      <td>{{ risk.detectedDate }}</td>
      <td>{{ risk.endedDate }}</td>
      <td>{{ risk.riskState }}</td>
      <td>{{ risk.audience }}</td>
      <td>{{ risk.category }}</td>
      <td>{{ risk.riskType }}</td>
      <td>calcular</td>
      <td>
        <button
          class="btn btn-primary"
          [routerLink]="['/riskDetail', risk.projectId, risk.id]"
        >
          <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteRisk(risk)">
          <fa-icon [icon]="faTrashCan"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<mat-paginator [length]="risks.length" [pageSize]="pageSize" (page)="pageEvent = $event" aria-label="Select page"></mat-paginator>
