<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th>Id riesgo</th> -->
        <th scope="col" sortableRisk="name" (sort) = "onRiskSort($event)">>Nombre del riesgo</th>
        <th scope="col" sortableRisk="detectedDate" (sort) = "onRiskSort($event)">Fecha de detección</th>
        <th scope="col" sortableRisk="endedDate" (sort) = "onRiskSort($event)">Fecha de cierre</th>
        <th scope="col" sortableRisk="risksState" (sort) = "onRiskSort($event)">Estado del riesgo</th>
        <th scope="col" sortableRisk="audience" (sort) = "onRiskSort($event)">Audiencia</th>
        <th scope="col" sortableRisk="category" (sort) = "onRiskSort($event)">Categoría</th>
        <th scope="col" sortableRisk="riskType" (sort) = "onRiskSort($event)">Tipo de riesgo</th>
        <th scope="col" >Valor de criticidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let risk of risks">
        <!-- <td>{{ risk.id }}</td> -->
        <td>{{ risk.name }}</td>
        <td>{{ risk.detectedDate }}</td>
        <td>{{ risk.endedDate }}</td>
        <td>{{ risk.risksState }}</td>
        <td>{{ risk.audience }}</td>
        <td>{{ risk.category }}</td>
        <td>{{ risk.riskType }}</td>
        <td>calcular</td>
        <td>
          <button
            class="btn btn-primary"
            [routerLink]="['/riskDetail', risk.projectId, risk.id]"
          >
            Ver
          </button>
        </td>
        <td>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
