<div class="container">
    <table class="table table-striped">
       <thead>
            <tr>
                <th scope="col">Id proyecto</th>
                <th scope="col">Nombre proyecto</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Fin</th>
                <th scope="col">Emails</th>
                <th scope="col">Descripción</th>
                <th scope="col">Status</th>
            </tr>
       </thead> 
       <tbody>
            <tr>
                <th scope="row">{{this.project?.id}}</th>
                <th scope="row">{{this.project?.name}}</th>
                <th scope="row">{{this.project?.startDate}}</th>
                <th scope="row">{{this.project?.endingDate}}</th>
                <th scope="row">{{this.project?.emails}}</th>
                <th scope="row">{{this.project?.description}}</th>
                <th scope="row">{{this.project?.status}}</th>
            </tr>
       </tbody>
    </table>
</div>
